 image: garugaru/garu-io-frontend-api:latest
tags:
  - latest
  - {{build.commit}}
manifests:
  -
    image: garugaru/garu-io-frontend-api:linux-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: garugaru/garu-io-frontend-api:linux-arm
    platform:
      architecture: arm
      os: linux
      variant: v7